.exhibition div.d-img{
	margin-top:15px;
}
/* article content in site pages */
.a-content {
	color: #7D7D7D;
	font-size: 14px;
	line-height: 150%;
	background-color: #F7F7F7;
	padding: 20px 30px 20px 30px;
	border-style: solid none none;
	border-width: 1px 0 0;
	border-color: #D3D3D3;
}
.a-content hr {
	border-style: solid none none;
	border-width: 1px 0 0;
	border-color: #D3D3D3;
	margin-top: 2em;
	margin-bottom: 2em;
}
.a-content h3 {

}
.a-content p {
	margin: 1em 0 1em 0;
	line-height: 200%;
	text-indent: 2em;
}
.a-content .friend-link li{
	border: none;
	margin: 0px;
	float: left;
	width: 200px;
}
.d-inf hr {
	margin-right: -15px;
	margin-left: -15px;
	border-style: solid none none;
	border-color: #c0c6cb;
}
.s-list .s-c {
	text-align: left;
}
.s-list .s-f {
	text-align: right;
}
/* back to top in index page */
#toTop{
	width:50px;
	height:50px;
	border:0px solid #ccc;
	text-align:center;
	position:fixed;
	*position:absolute;
	bottom:200px;
	right:20px;
	cursor:pointer;
	display:none;
	background:#d1d1d1 url(/images/arrow-up.png) no-repeat center center;
}