@import url(/css/reset.css);

body{
    text-align: center;
    background-image: url(/images/body_bg.gif);
    font-size: 14px;
}

h1, h2, h3 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

a {
    color: black;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0px;
}

#main {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 986px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: left;
    background-color: #e9e9e9;
}

.shadow-box {
    background-color: #e9e9e9;
    -moz-box-shadow: 0px 0px 4px 4px #dddddd;
    -webkit-box-shadow: 0px 0px 4px 4px #dddddd;
    box-shadow: 0px 0px 4px 4px #dddddd;

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=8,MakeShadow=true,ShadowOpacity=0.50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=8,MakeShadow=true,ShadowOpacity=0.50)";
    zoom: 1;
}

.shadow-box .content {
    background-color: #e9e9e9;
    position: relative; /* This protects the inner element from being blurred */
    margin-left: 0px!important;
    margin-left: 5px;
    margin-top: 0px!important;
    margin-top: 8px;
    height: 100%;
}

#header {
    width: 986px;
    height: 102px;
    text-align: left;
    background-color: #000102;
    background-image: url(/images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}

#logo,
#category,
#search,
#announcement {
    position: absolute;
}

#logo {
    margin-left: 30px;
    margin-top: 25px;
}

#category {
    margin-left: 250px;
    margin-top: 25px;
}

#category a {
    color: white;
    margin-right: 5px;
}

#search {
    margin-left: 250px;
    margin-top: 50px;
    height: 35px;
    background: white;
    display: inline;
}

#search #search_text,
#search #search_button {
    float: left;
}

#search #search_text {
    border: none;
    width: 390px;
    height: 33px!important;
    height: 23px;
    font-size: 18px;
    margin-top: 0px!important;
    margin-top: 10px;
}

#search #search_button {
    margin: 4px;
}

#counting {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

#listing {
    margin-left: 16px;
    overflow: auto;
    height: 100%;
}

#listing .column {
    width: 230px;
    float: left;
    margin-right: 10px;
    text-align: left;
    overflow: auto;
    padding-bottom: 10px;
}

#listing .column .item {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 4px 4px #dddddd;
    -webkit-box-shadow: 0px 0px 4px 4px #dddddd;
    box-shadow: 0px 0px 4px 4px #dddddd;

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.10);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.10)";
    zoom: 1;
}

#listing .column .item .content {
    background-color: #ffffff;
    position: relative; /* This protects the inner element from being blurred */
    margin-left: 0px!important;
    margin-left: 2px;
    margin-top: 0px!important;
    margin-top: 5px;
    height: 100%;
    padding: 15px;
}

#listing .column .item .content img {
    margin-bottom: 10px;
}

#listing .column .item .content p {
    color: #666666;
    font-size: 12px;
}

#listing .column .item .content p a {
    font-weight: bold;
    color: #000000;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

#pagination {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#pagination a,
#pagination span.selected {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 5px 10px 5px 10px;
    color: #666666;
    font-size: 12px;
    text-align: center;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/css/border-radius.htc);
}

#pagination a:hover,
#pagination span.selected {
    background-color: #cccccc;
    text-decoration: none;
}

#pagination span.etc {
    padding: 5px 10px 5px 10px;
    color: #ffffff;
}

#breadcrumbs {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

#antique {
    overflow: auto;
    height: 100%;
    margin-top: 30px;
}

#antique .picture {
    margin-left: 30px;;
    margin-top: 5px;
    float: left;
    display: inline;

    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 4px 4px #dddddd;
    -webkit-box-shadow: 0px 0px 4px 4px #dddddd;
    box-shadow: 0px 0px 4px 4px #dddddd;

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=8,MakeShadow=true,ShadowOpacity=0.50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=8,MakeShadow=true,ShadowOpacity=0.50)";
    zoom: 1;
}

#antique .picture .content {
    background-color: #ffffff;
    position: relative; /* This protects the inner element from being blurred */
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-left: 0px!important;
    margin-left: 5px;
    margin-top: 0px!important;
    margin-top: 8px;
    width: 570px;
    height: 100%;
    padding: 25px;
}

#antique .picture .content * {
    vertical-align: middle;
}

*html #antique .picture .content span {
    height: 100%;
    display: inline-block;
}

#antique .detail {
    float: left;
    width: 270px;
    margin-left: 30px;;
    display: inline;
}

#antique .detail div {
    font-size: 13px;
    color: #666666;
    border-bottom: 1px solid #ffffff;
}

#antique .detail div p {
    margin-top: 15px;
}

#antique .detail div p.last {
    margin-bottom: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d3d3;
}

#additional {
    width: 986px;
    margin-top: 50px;
    background-color: white;
    overflow: auto;
    height: 100%;
}

div#relationship,
div#recommendation {
    width: 950px;
    margin-left: 30px;
    margin-top: 30px;
    overflow: auto;
    height: 100%;
}

#additional div h3 {
    border-left: 5px solid #e6e6e7;
    border-bottom: 1px solid #e6e6e7;
    padding: 6px 0px 6px 10px;
    width: 890px;
}

div#relationship div.column,
div#recommendation div.column {
    width: 127px!important;
    width: 132px;
    float: left;
    margin-right: 28px!important;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
}

div#relationship div.column div.mini,
div#recommendation div.column div.mini { 
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;

    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 4px 4px #dddddd;
    -webkit-box-shadow: 0px 0px 4px 4px #dddddd;
    box-shadow: 0px 0px 4px 4px #dddddd;

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.50)";
    zoom: 1;
}

div#relationship div.column div.mini div.content,
div#recommendation div.column div.mini div.content { 
    background-color: #ffffff;
    position: relative; /* This protects the inner element from being blurred */
    margin-left: 0px!important;
    margin-left: 5px;
    margin-top: 0px!important;
    margin-top: 5px;
    height: 100%;
    padding: 3px;
}

div#relationship div.column div.mini div.content img ,
div#recommendation div.column div.mini div.content img { 
    margin-bottom: 5px;
}

#footer {
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #888888;
    margin-top: 20px;
    margin-bottom: 30px;
}

#footer a {
    color: #888888;
}
